<!doctype html>
<html lang="en">
 <head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  
  <!-- Twitter CSS -->
  <link href="https://developer.twitter.com/en/docs/twitter-for-websites/tweet-button/overview.html">
  <link href="https://developer.twitter.com/en/docs/twitter-for-websites/tweet-button/overview.html"/>

  <title>Messagess</title>
</head>
<body>


<!-- Image and text -->
<nav class="navbar bg-purple shadow">
  <a class="navbar-brand text-white" href="#">
    Messagess
  </a>
</nav>


<section>
  <div class="container">
    <div class="row mt-4">
      <div class="col-12">
        <div class="card shadow-sm">
          <div class="card-body">
              {{ message.content }}
          </div>
        </div>
      </div>

      <div class="col-12 mt-2">
        <a class="btn btn-primary" href="{% url 'decipher' message.id %}">Desencriptar el mensaje</a>
        <a class="btn twitter-share-button ml-2 text-white"
          href="https://twitter.com/intent/tweet?text={{ message.content }}"
          target="_blanck"
          data-size="large">
          Tweet</a>
      </div>
    </div>
  </div>
</section>



<style>
.bg-purple {
  background-color: #35126b;
}
.twitter-share-button {
  background-color: #1b95e0;
}
</style>


</body>
</html>